<!DOCTYPE html>
<html>
<head>
  <title>Fedora Flatpak Status</title>
  <script src="https://unpkg.com/vue@2/dist/vue.js"></script>
  <link rel="stylesheet" href="status.css">
</head>
<body>
  <div id="app">
    <div class="sidebar">
      <flatpak-item v-for="flatpak in flatpaks" :flatpak="flatpak" :key="flatpak.name">
      </flatpak-item>
    </div>
    <div class="main">
      <flatpak-details v-for="flatpak in flatpaks" :flatpak="flatpak" :key="flatpak.name">
      </flatpak-item>
    </div>
    <div class="footer">
      <span class="footer-left">Updated: {{ date_updated | dateFormat }}</span>
      <span class="footer-right"># of Flatpaks: {{ flatpaks.length }}</span>
    </div>
  <script src="status.js">
  </script>
</body>
</html>

