body {
    font-family: cantarell, sans;
    margin: 0px;
}
.sidebar {
    position: fixed;
    box-sizing: border-box;
    top: 0px;
    bottom: 20px;
    width: 200px;
    padding: 8px;
    overflow: auto;
}
.sidebar .item {
    display: block;
}
.sidebar .item, sidebar .item:visited {
    color: #226688;
    text-decoration: none;
}
.sidebar .item.bad, sidebar .item.bad:visited {
    color: #882222;
    font-weight: bold;
}
.sidebar .item::before {
    font-family: Noto Color Emoji, Sans;
    width: 1.5em;
    display: inline-block;
    content: " ";
}
.sidebar .item.insecure::before {
    content: "\1f6e1";
}

.main {
    position: fixed;
    box-sizing: border-box;
    top: 0px;
    bottom: 20px;
    left: 200px;
    right: 0px;
    padding: 8px;
    overflow: auto;
}

.footer {
    position: fixed;
    box-sizing: border-box;
    height: 20px;
    bottom: 0px;
    width: 100%;
    border-top: 1px solid gray;
    padding: 0px 4px;
    font-size: 13px;
}

.footer-right {
    float: right;
    text-align: right;
}

.flatpak {
    margin-top: 10px;
}
.flatpak > .header {
    font-size: 140%;
}
.build {
    margin-top: 10px;
    border: 1px solid black;
}
.build > .header {
    padding: 5px;
    font-size: 110%;
}
.build > .header::before {
    font-family: Noto Color Emoji, Sans;
    width: 1.5em;
    display: inline-block;
    content: "\2705";
}
.build > .header.bad::before {
    content: "\1F6D1";
}
.build .header.insecure::before {
    content: "\1F6E1";
}
.build > .header.expanded {
    font-size: 110%;
    border-bottom: 1px solid #aaaaaa;
}

.build .packages {
    padding-bottom: 5px;
}

.build .details {
    border-bottom: 1px solid #aaaaaa;
    padding: 5px;
}

.package {
    margin-left: 2em;
    margin-top: 5px;
}
.package > .header::before {
    font-size: 80%;
    color: black;
    content: "\25b6";
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
.package > .header.expanded::before {
    content: "\25bc";
}
.package > .header.expanded {
    border-bottom: 1px solid #cccccc;
}
.package-bad > .header {
    color: red;
}
.history-item::before {
    font-size: 80%;
    content: " ";
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
.history-item.current::before {
    content: "\25cb";
}
.commit-link, .commit-link:visited {
    font-family: monospace;
    text-decoration: none;
    color: #226688;
}
.build-link, .module-link {
    text-decoration: none;
    color: #226688;
}
.update-link {
    text-decoration: none;
}
.update-link.stable {
    text-decoration: none;
    color: #228844;
}
.update-link.testing {
    text-decoration: none;
    color: #aa6622;
}
.update-link {
    text-decoration: none;
    color: #aa2288;
}
.update-link::before {
    font-family: Noto Color Emoji, sans;
}
.update-link.bugfix::before {
    content: "\1f41b";
}
.update-link.enhancement::before {
    content: "\2197";
}
.update-link.security::before {
    content: "\1f6e1";
}
.update-link.newpackage::before {
    content: "\1f4e6";
}
